/*----------------------*/
/*------TYPOGRAPHY------*/
/*----------------------*/
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.2em;
}

p em, em {
    font-style: italic;
}

p {
    margin-bottom: 16px;
}

li, p, span {
    font-size: 10pt;
}

p a, li a {
    text-decoration: underline;
}

ol {
    list-style: inside decimal;
}
ul {
    list-style: square inside;
}
ol li ul {
    text-indent: 20px;
}

pre, code {
    font-family: "Monaco", Courier New, Courier, monospace;
}

/*Typography*/
h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, arial, sans-serif;
}

h1 {
    font-size: 2.2em;
    line-height: 35pt;
    margin-bottom: 16px;
}

h2 {

}

h3 {
    font-weight: bold;
    font-size: 12px;
}

h4 {

}

h5 {

}

h6 {

}



a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*----------------------*/
/*-------TOOLBOX--------*/
/*----------------------*/
.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.hidden {
    display: none;
}

.clearboth {
    clear: both;
}


.blue .themetext, .blue .themetext a, .blue p a:hover, .blue li a:hover, .blue #irc .console time, .blue #irc .console .who, .blue #irc .console .info {
    color: #0000c0;
}

.blue .themebackground {
    background-color: #0000c0;
}


.green .themetext, .green .themetext a, .green p a:hover, .green li a:hover, .green #irc .green time, .green #irc .console .who, .green #irc .console .info  {
    color: #008000;
}

.green .themebackground {
    background-color: #008000;
}

.red .themebackground {
    background-color: #da0000;
}

.red .themetext, .red .themetext a, .red p a:hover, .red li a:hover, .red #irc .console time, .red #irc .console .who, .red #irc .console .info {
    color: #da0000;
}

.notext {
    text-indent: -9999px;
}
.strong {
    font-weight: bold;
}
/*----------------------*/
/*---Utility Classes----*/
/*----------------------*/

div.breaker {
    height: 1px;
    width: 980px;
    padding-right: 100px;
    background-color: #666666;
    clear: both;
    margin: 46px 0px 46px -20px;
}

.shadow, .bubble-wrap {
    background: url('../images/bg.png') fixed;
    display: block;
    z-index: 500;
}

.shadowed, .bubble-content {
    background-color: #e8e8e8;
    border: 1px solid #000;
    position: relative;
    top: -10px;
    left: -10px;
    z-index: 600;
}

.shadow {
    float: left;
    position: relative;
    top: 10px;
    left: 10px;
}

.shadowed {
    top: -10px;
    left: -10px;
    position: relative;
}

.bubble {
    position: relative;
    top: 0;
    left: 0;
    float: right;
}

.bubble-activate {
    font-size: 10px;
}

.bubble-wrap {
    position: absolute;
    top: -150px;
    left: -27px;
    display: none;
}

.bubble-content {
    width: 275px;
    font-size: 11px;
    line-height: 14px;
    padding: 10px;
}

.bubble-speech {
    position: absolute;
    bottom: -15px;
    left: 52px;
    background-image: url("../images/thinkbubble.png");
    z-index: 600;
    width: 17px;
    height: 26px;
}

.dot { border-top: 1px dotted #000; }

.mono, .mono.small { font-family: "Monaco", Courier New, Courier, monospace; }
.small, pre, .small span { font-size: 10px; }
.uppercase { text-transform: uppercase; }

.right-20 { margin-right: -20px; }
.left-20 { margin-left: -20px; }

.top10 { position: relative; top: 10px; }
.top14 { margin-top: 14px; padding-top: 14px; line-height: 1em; }
.top20 { margin-top: 0px; padding-top: 20px;}
.top30 { margin-top: 30px; padding-top: 30px; }
.top46 { margin-top: 46px; padding-top: 46px; }

.bottom14{ margin-bottom: 14px; }
.bottom30{ margin-bottom: 30px; }
.bottom46{ margin-bottom: 46px; }

.w660 { width: 660px; }
.w542 { width: 542px; }
.w368 { width: 368px; }
.w270 { width: 270px; }
.w174 { width: 174px; }
.ml20 { margin-left: 20px; }
.mr20 { margin-right: 20px; }
.pl20 { padding-left: 20px; }
.pr20 { padding-right: 20px; }

.prettyprint {
    clear: both;
    margin: 10px 0 25px 0px;
    font-size: 12px;
    background-color: #fbfbfb;
    padding: 20px;
    border: 0;
}

/*----------------------*/
/*------STRUCTURE-------*/
/*----------------------*/

body {
    /* background: url('../images/bg.png') fixed repeat; */
    background-color: #777;
    height: 100%;
}

#wrapper {
    background: url('../images/wrapperbg.png') #e8e8e8;
    display: block;
    width: 1080px;
    min-height: 900px; /* FIXME: why is this here? */
}

.section {
    clear: both;
    position: relative;
    top: 0;
    left: 0;
    border-top: 1px solid black;
    padding: 50px 100px 30px 20px;
}

#header {
    height: 70px;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    text-indent: -9999px;
    position: absolute;
    top: 15px;
    left: 20px;
    width: 138px;
    height: 40px;
}

#logo a {
    display: block;
    color: #fff;
    background-image: url('../images/logo.png');
    width: 100%;
    height: 100%;
}

#nav {
    display: block;
    text-align: right;
    width: 100%;
    padding-top: 39px;
}

.navitem {
    font-size: 10px;
    margin-left: 25px;
    display: inline;
    font-family: "Monaco", Courier New, Courier, monospace;
}

.navitem a {
    text-decoration: none;
}

.navitem a:hover {
    text-decoration: underline;
}

#bottomnav {
    display: inline;
}

#copyright {
    float: left;
}

#toggleirc img {
    width: 12px;
    height: 11px;
    margin-bottom: -3px;
    margin-right: -2;
}

#irc {
    clear: both;
    overflow: hidden;
    height: 1px;
    padding-top: 0;
    padding-bottom: 0;
}

#irc .console {
    padding: 20px;
    min-height: 330px;
    font-family: "Monaco", Courier New, Courier, monospace;
}

#irc .console p {
    margin: 0;
    padding: 0;
    font-size: 11px;
    line-height: 15px;
}


#irc .console time {
    margin-right: 0.5em;
}

.example {
    border-top: 1px dotted black;
    margin-top: 46px;
    padding-top: 30px;
}

.first-example {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

#footer {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: right;
}

#what-is-node {
    position: absolute;
    top: 60px;
    left: 30px;
}

#what-is-node .shadowed {
    font-family: Helvetica;
    width: 410px;
    font-size: 43px;
    line-height: 43px;
    padding: 15px;
}

#describe-node {
    display: block;
    margin-left: 470px;
    padding-top: 5px;
}

.genericcallout {
    background-color: #666666;
    padding-top: 17px;
    margin-bottom: 4px;
    width: 194px;
    height: 35px;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: "Monaco", Courier New, Courier, monospace;
    overflow: hidden;
    float:left;
    text-decoration: none !important;
}

#download {
    width: 194px;
    height: 67px;
    display: block;
    color: #fff;
    padding-top: 1px;
    overflow: hidden;
    float:left;
    text-decoration: none;
}

#download .dlarrow {
    display: block;
    background: url('../images/download.png') no-repeat;
    text-indent: -9999px;
    margin-top: 17px;
    margin-left: 20px;
    margin-right: 20px;
}

#download:hover, .genericcallout:hover {
    background-color: black;
    cursor: pointer;
}

#download .version {
    display: block;
    font-family: "Monaco", Courier New, Courier, monospace;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -1px;
    margin-left: 40px;
}

#build {
    display: block;
    width: 111px;
    height: 68px;
    background-color: #666666;
    margin-left: 1px;
    float:left;
    overflow: hidden;
}

#build p {
    display: block;
    font-family: "Monaco", Courier New, Courier, monospace;
    font-size: 10px;
    color: #FFFFFF;
    line-height: 12px;
    margin: 17px;
}

#works-on {
    margin-top: 15px;
    padding: 7px 0 0 0;
    line-height: 34px;
}

#works-on span {
    font-size: 11px;
}

#works-on img {
    margin-left: 15px;
}

div.resourceli, div.resourceli p {
    font-size: 12px;
}
div#maincontent {
    width: 680px;
    padding-right: 20px;
}

ul#documentation {
    cursor: pointer;
}

ul#documentation li, ul#documentation li ul li{
    list-style: none;
    font-size: 10px;
}

ul#documentation li ul {
    margin: 10px -20px -10px -20px;
}

ul#documentation li ul li {
    border-top: 1px dotted #666;
    border-bottom: none;
    padding-left: 30px;
}

ul#documentation li {
    border-bottom: 1px #666 dotted;
    padding: 10px 20px;
}

ul#documentation li strong {
    font-weight: bold;
    margin-left: -12px;
    margin-right: 5px;
}
#wrapper #innerwrap a.active, #wrapper #footer a.active {
    text-decoration: underline;
    font-weight: bold;
}

#documentation_content div {
    position: relative;
}

#documentation_content div .nametags {
    position: absolute;
    top: 0px;
    right: 0px;
}
#documentation_content div .nametags span {
    border-left: 1px #666 solid;
    border-right: 1px #666 solid;
    border-bottom: 1px #666 solid;
    margin-left: 10px;
    position: relative;
    top: 6px;
    padding: 8px 8px 8px 8px;
    font-size: 8pt;
}
#documentation_content div .nametags span.docname {
    top: 5px;
    padding-bottom: 10px;
}
