/*----------------------*/
/*------TYPOGRAPHY------*/
/*----------------------*/
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.2em;
}

p em, em {
    font-style: italic;
}

p {
    margin-bottom: 17px;
}

li, p, span {
    font-size: 9pt;
}

p a, li a {
    text-decoration: underline;
}

ol {
    list-style: inside decimal;
}
ul {
    list-style: square inside;
}
ol li ul {
    text-indent: 20px;
}

pre, code {
    font-family: "Monaco", Courier New, Courier, monospace;
}

/*Typography*/
h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, arial, sans-serif;
}

h1 {
    font-size: 2.2em;
    line-height: 35pt;
    margin: -5px 0 13px 0;
}

h2 {

}

h3 {
    font-weight: bold;
    font-size: 12px;
}

h4 {

}

h5 {

}

h6 {

}



a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*----------------------*/
/*-------TOOLBOX--------*/
/*----------------------*/
.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.hidden {
    display: none;
}

.clearboth {
    clear: both;
}


.blue .themetext, .blue .themetext a, .blue p a:hover, .blue li a:hover, .blue #irc .console time, .blue #irc .console .who, .blue #irc .console .info {
    color: #0000c0;
}

.blue .themebackground {
    background-color: #0000c0;
}


.green .themetext, .green .themetext a, .green p a:hover, .green li a:hover, .green #irc .green time, .green #irc .console .who, .green #irc .console .info  {
    color: #008000;
}

.green .themebackground {
    background-color: #008000;
}

.red .themebackground {
    background-color: #da0000;
}

.red .themetext, .red .themetext a, .red p a:hover, .red li a:hover, .red #irc .console time, .red #irc .console .who, .red #irc .console .info {
    color: #da0000;
}

.notext {
    text-indent: -9999px;
}
.strong {
    font-weight: bold;
}
/*----------------------*/
/*---Utility Classes----*/
/*----------------------*/

.shadow, .bubble-wrap {
    background: url('../images/bg.png') fixed;
    display: block;
    z-index: 500;
}

.shadowed, .bubble-content {
    background-color: #e8e8e8;
    border: 1px solid #000;
    position: relative;
    top: -10px;
    left: -10px;
    z-index: 600;
}

.shadow {
    float: left;
    position: relative;
    top: 10px;
    left: 10px;
}

.shadowed {
    top: -10px;
    left: -10px;
    position: relative;
}

.bubble {
    position: relative;
    top: 0;
    left: 0;
    float: right;
    font-family: "Monaco", Courier New, Courier, monospace;
}

.bubble-activate {
    font-size: 10px;
}

.bubble-wrap {
    position: absolute;
    top: -150px;
    left: -27px;
    display: none;
}

.bubble-content {
    width: 275px;
    font-size: 11px;
    line-height: 14px;
    padding: 10px;
}

.bubble-speech {
    position: absolute;
    bottom: -15px;
    left: 52px;
    background-image: url("../images/thinkbubble.png");
    z-index: 600;
    width: 17px;
    height: 26px;
}

.prettyprint {
    clear: both;
    margin: 0 0 15px 0;
    position: relative;
    top: -10px;
    left: 0;
    font-size: 10px;
    letter-spacing: -1px;
    line-height: 19px;
    background-color: #fbfbfb;
    padding: 8px 15px;
    border: 0;
}

.dot { border-top: 1px dotted #000; }

.mono, .mono.small { font-family: "Monaco", Courier New, Courier, monospace; }
.small, pre, .small span { font-size: 10px; }
.uppercase { text-transform: uppercase; }

.right-20 { margin-right: -20px; }
.left-20 { margin-left: -20px; }

.top10 { position: relative; top: 10px; }
.top14 { margin-top: 14px; padding-top: 14px; line-height: 1em; }
.top20 { margin-top: 0px; padding-top: 20px;}
.top30 { margin-top: 30px; padding-top: 30px; }
.top46 { margin-top: 46px; padding-top: 46px; }

.bottom14{ margin-bottom: 14px; }
.bottom30{ margin-bottom: 30px; }
.bottom46{ margin-bottom: 46px; }

.w660 { width: 660px; }
.w542 { width: 542px; }
.w368 { width: 368px; }
.w270 { width: 270px; }
.w174 { width: 174px; }
.ml20 { margin-left: 20px; }
.mr20 { margin-right: 20px; }
.pl20 { padding-left: 20px; }
.pr20 { padding-right: 20px; }

/*----------------------*/
/*------STRUCTURE-------*/
/*----------------------*/

body {
    /* background: url('../images/bg.png') fixed repeat; */
    background-color: #777;
    height: 100%;
}

#wrapper {
    background: url('../images/wrapperbg.png') #e8e8e8;
    display: block;
    width: 1070px;
    min-height: 900px; /* FIXME: why is this here? */
}

.section {
    clear: both;
    position: relative;
    top: 0;
    left: 0;
    border-top: 1px solid black;
    padding: 45px 100px 45px 20px;
}

.column-1 {
    margin-right: 270px;
}

.column-2 {
    float: right;
    width: 195px;
    padding-top: 4px;
}

#header {
    height: 70px;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    text-indent: -9999px;
    position: absolute;
    top: 15px;
    left: 20px;
    width: 138px;
    height: 40px;
}

#logo a {
    display: block;
    color: #fff;
    background-image: url('../images/logo.png');
    width: 100%;
    height: 100%;
}

#nav {
    display: block;
    text-align: right;
    width: 100%;
    padding-top: 40px;
}

.navitem {
    font-size: 10px;
    margin-left: 18px;
    display: inline;
    font-family: "Monaco", Courier New, Courier, monospace;
}

.navitem a {
    text-decoration: none;
}

.navitem a:hover {
    text-decoration: underline;
}

#toggleirc img {
    width: 12px;
    height: 11px;
    margin-bottom: -3px;
    margin-right: -2;
}

#irc {
    clear: both;
    overflow: hidden;
    height: 1px;
    padding-top: 0;
    padding-bottom: 0;
}

#irc .console {
    padding: 20px;
    min-height: 330px;
    font-family: "Monaco", Courier New, Courier, monospace;
}

#irc .console p {
    margin: 0;
    padding: 0;
    font-size: 11px;
    line-height: 15px;
}


#irc .console time {
    margin-right: 0.5em;
}

#content {
    padding-bottom: 16px;
}

#footer {
    padding-top: 5px;
    padding-bottom: 8px;
    text-align: right;
    font-family: "Monaco", Courier New, Courier, monospace;
    font-size: 10px;
    letter-spacing: -1px;

    /* Here's a weird problem in IE7: the default 1px border doesn't show
       up.  With a 4px border, 1px is visible. */

    *border-top: 4px solid black;
}

#bottomnav {
    display: inline;
}

#bottomnav .navitem {
    font-size: 11px;
    margin-left: 20px
}

#copyright {
    float: left;
    font-size: inherit;
    font-size: 11px;
}

/*----------------------*/
/*--------HOME----------*/
/*----------------------*/

.example {
    border-top: 1px dotted black;
    margin-top: 40px;
    padding-top: 26px;
}

.first-example {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

#what-is-node {
    position: absolute;
    top: 58px;
    left: 30px;
}

#what-is-node .shadowed {
    font-family: Helvetica;
    width: 422px;
    font-size: 43px;
    line-height: 45px;
    padding: 15px 15px 5px 15px;
    *padding-bottom: 15px;
}

#learn-more {
    font-size: 10px;
    font-family: "Monaco", Courier New, Courier, monospace;
}

#describe-node {
    display: block;
    margin-left: 487px;
    padding-top: 5px;
}

.callout {
    background-color: #666666;
    padding-top: 17px;
    margin-bottom: 4px;
    width: 100%;
    height: 35px;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: "Monaco", Courier New, Courier, monospace;
    overflow: hidden;
    float:left;
    text-decoration: none !important;
}

#describe-node p {
    margin-bottom: 15px;
    line-height: 19px;
}

#download {
    width: 100%;
    height: 67px;
    display: block;
    color: #fff;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    margin-right: 1px;
    font-size: 12px;
}

#download .dlarrow {
    display: block;
    background: url('../images/download.png') no-repeat;
    text-indent: -9999px;
    margin: 18px 20px 2px 23px;
}

#download:hover, .callout:hover {
    background-color: black;
    cursor: pointer;
}

#download .version {
    display: block;
    font-family: "Monaco", Courier New, Courier, monospace;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -1px;
    margin-left: 42px;
}

#historical {
    text-align: right;
    margin-top: 5px;
    font-size: 10px;
    font-family: "Monaco", Courier New, Courier, monospace;
}

#historical .label {
    font-family: arial, helvetica, sans-serif;
    font-size: 13px;
}

#describe-node #download {
    float:left;
    width: 188px;
}

#describe-node #download .dlarrow {
    margin-left: 20px;
}

#describe-node #download .version {
    margin-left: 40px;
}

#build {
    display: block;
    width: 110px;
    height: 67px;
    background-color: #666666;
    float: left;
    overflow: hidden;
}

#build p {
    display: block;
    font-family: "Monaco", Courier New, Courier, monospace;
    font-size: 10px;
    color: #FFFFFF;
    line-height: 13px;
    margin: 14px 0 0 21px;
}

#works-on {
    border-top: 1px dotted black;
    margin-top: 19px;
    padding: 12px 0 0 0;
}

#works-on .label {
    font-size: 12px;
    display: block;
    float: left;
}

#works-on .logos {
    float: left;
    margin-top: -5px;
    padding-left: 10px;
}

div.resourceli, div.resourceli p {
    font-size: 12px;
}
div#maincontent {
    width: 680px;
    padding-right: 20px;
}

ul#documentation {
    cursor: pointer;
}

ul#documentation li, ul#documentation li ul li{
    list-style: none;
    font-size: 10px;
}

ul#documentation li ul {
    margin: 10px -20px -10px -20px;
}

ul#documentation li ul li {
    border-top: 1px dotted #666;
    border-bottom: none;
    padding-left: 30px;
}

ul#documentation li {
    border-bottom: 1px #666 dotted;
    padding: 10px 20px;
}

ul#documentation li strong {
    font-weight: bold;
    margin-left: -12px;
    margin-right: 5px;
}
.navitem .active {
    text-decoration: underline;
}

#documentation_content div {
    position: relative;
}

#documentation_content div .nametags {
    position: absolute;
    top: 0px;
    right: 0px;
}
#documentation_content div .nametags span {
    border-left: 1px #666 solid;
    border-right: 1px #666 solid;
    border-bottom: 1px #666 solid;
    margin-left: 10px;
    position: relative;
    top: 6px;
    padding: 8px 8px 8px 8px;
    font-size: 8pt;
}
#documentation_content div .nametags span.docname {
    top: 5px;
    padding-bottom: 10px;
}
